/*************************************************************************/
/*              HOJA DE ESTILO DE SALMOREJO.HTML                         */
/*              AUTOR: IGNACIO LÁZARO ZAMBRANO                           */
/*              VERSIÓN 1.0                                              */
/*              FECHA: OCTUBRE 2023                                      */
/*              COMENTARIO: EJERCICIO PORFOLIO (I)                       */
/*************************************************************************/

*{box-sizing: border-box; font-family: 'Chakra Petch', sans-serif;} /* indica que el width de cada box será del borde hacia dentro*/
body{background-color: orange; background-image: url(../../img/FonndoTomates.jpg); background-size: 100%;}
#wrapper { background-color: rgb(255, 255, 255);  width: 80vw;  margin: auto; padding: 3%;}
blockquote {font-size: 1.5em; border-left: 10px solid orange; background-color: rgb(240, 197, 117);padding: 4vw;}
h1 {text-align: center;border: 2px solid black;border-radius: 5cm; width: 30%; margin: auto;box-shadow: 10px 5px 10px grey;}
h2 {text-align:left;width: 30%; margin-left: 5%;}
ol, ul {margin-left: 5%; margin-right: 5%;}
li { padding-bottom: 3%;}
ul { list-style-image: url(/img/Tomatelista.png);}
dl { text-align: left; width: 100%; margin-left: 5%;}
dt { padding-bottom: 1%;padding-top: 1%;}


